html, body, #index {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Space Grotesk", "monospace", "sans serif";
  background-color: #f8f8f8;
}


#index {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: #444;
}

 h1 {
  font-size: 3em;
  margin: 0;
  /* background-image: linear-gradient(to right, rgba(255, 138, 65, 0.88) 0%, rgba(255, 138, 65, 0.88) 100%); */
  background-position: 0 0.7em;
  background-repeat: repeat-x;
  background-size: 1px 15px;
  width: auto;
  display: inline-block;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

ul, li {
  list-style: none;
}

p {
  color: gray;
}

a {
  /*color: #fd7c48;*/
  color: #861fda;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

section {
  display: flex;
}

.bio {
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  border-bottom: 1px solid #eee;
  /* 
  position: fixed;
  background-color: rgba(0,0,0,.05);
  left: 0;
  right: 0;
  height: 350px; */

  .portrait {
    width: 10em;
    height: 10em;
    border-radius: 100%;
  }
}

.bio .column {
  display: flex;
}

.bio .column-text {
  max-width: 500px;
  flex-direction: column;
  align-items: start;
}

.bio .column-text p+p {
  margin: 0;
}

.bio .column-image {
  align-items: center;
  margin-right: 3em;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: #f8f8f8;
  max-width: 768px;
  margin: 0 auto 3em auto;
}

h2 {
  margin: 2rem 0 3rem 0;
  text-align: center;
}

.project {
  border-radius: 25px;
  width: 368px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0 0 1px #eee;
  position: relative;
  height: 252px;
  position: relative;
  overflow: hidden;
}
.project a {
  display: block;
  text-decoration: none;
}
.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project:hover {
  box-shadow: 0 0 0 2px #861fda;
}
.project:hover .project__texts {
  transform: translateY(0);
}

.project__texts {
  padding: 0.25rem 1.5rem;
  background: #f6f3ff;
  position: absolute;
  bottom: 0;
  transform: translateY(68px);
  transition: all 0.2s;
}
.project__title {
  color: #861fda;
  font-weight: 500;
}
.project__summary {
  font-size: 0.8rem;
  line-height: 1.4em;
  font-family: Helvetica, Arial, sans-serif;
  color: #75449d;
}

.social {
  padding: 0;
  margin-top: 20px;
}
.social-item {
  display: inline-block;
  margin-right: 12px;
}
.social-item img {
  width: 24px;
  height: 24px;
  color: grey;
  opacity: 0.5;
  transition: all .3s;
}

.social-item img:hover, .social-item img:active {
  width: 24px;
  height: 24px;
  opacity: 1;
}

/* MOBILE */
@media(max-width: 768px) {
  .bio {
    flex-direction: column;
    align-items: center;
    padding: 3em 1.5em 1.5em 1.5em;
  }

  .bio h1 {
    font-size: 2em;
  }
  .bio .portrait {
    margin-bottom: 2em;
  }
  .bio .column-text {
    align-items: center;
    text-align: center;
  }
  .bio .column-text .social {
    margin-top: 2em;
  }
  .bio .column-image {
    margin-right: 0; 
  }

  .projects {
    padding: 0 1em;
  }
  .projects h2 {
    font-size: 1.5em;
    margin: 1.5em 0;
  }
  .projects .project {
    border-radius: 15px; 
  }
  .project .project__texts {
    padding: 0 1rem;
  } 
}
